<div class="instruction-block">
  <div class="header col-xs-12">
    <div class="x-button col-xs-1"><i class="material-icons">close</i></div>
    <div class="brand col-xs-10">Your brand</div>
    <div class="search-button col-xs-1"><i class="material-icons">zoom_in</i></div>
  </div>
  <div class="main col-xs-12">
    <section class="item col-xs-12 active">
      <div class="title col-xs-12 collapsed" data-toggle="collapse" data-target="#content1">
        <div class="dot col-xs-1"></div>
        <h3 class="col-xs-10">Overview</h3>
        <span class="glyphicon glyphicon-menu-down col-xs-1"></span>
      </div>
	  <div class="content-wrapper col-xs-offset-1 col-xs-11">
		<div class="content collapse in" id="content1">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
		</div>
	  </div>
    </section>
    <section class="item col-xs-12">
      <div class="title col-xs-12 collapsed" data-toggle="collapse" data-target="#content2">
        <div class="dot col-xs-1"></div>
        <h3 class="col-xs-10">THE EMBEDDABLE</h3>
        <span class="glyphicon glyphicon-menu-down col-xs-1"></span>
      </div>
      <div class="content-wrapper col-xs-offset-1 col-xs-11">
	    <div class="content collapse" id="content2">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
		</div>
	  </div>
    </section>
    <section class="item col-xs-12">
      <div class="title col-xs-12 collapsed" data-toggle="collapse" data-target="#content3">
        <div class="dot col-xs-1"></div>
        <h3 class="col-xs-10">OUR MODULES</h3>
        <span class="glyphicon glyphicon-menu-down col-xs-1"></span>
      </div>
	  <div class="content-wrapper col-xs-offset-1 col-xs-11">
		<div class="content collapse" id="content3">
		  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
		</div>
	  </div>
    </section>
    <section class="item col-xs-12">
      <div class="title col-xs-12 collapsed" data-toggle="collapse" data-target="#content4">
        <div class="dot col-xs-1"></div>
        <h3 class="col-xs-10">THE VISUALISER</h3>
        <span class="glyphicon glyphicon-menu-down col-xs-1"></span>
      </div>
	  <div class="content-wrapper col-xs-offset-1 col-xs-11">
        <div class="content collapse" id="content4">
	      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
	    </div>
	  </div>
    </section>
    <section class="item col-xs-12">
      <div class="title col-xs-12 collapsed" data-toggle="collapse" data-target="#content5">
        <div class="dot col-xs-1"></div>
        <h3 class="col-xs-10">ARTICLES</h3>
        <span class="glyphicon glyphicon-menu-down col-xs-1"></span>
      </div>
	  <div class="content-wrapper col-xs-offset-1 col-xs-11">
	    <div class="content collapse" id="content5">
		  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
		</div>
	  </div>
    </section>
  </div>
</div>